:root{
    --primary: #0077b6;
    --secondery: #454545;
    --shade:#caf0f8;
    --light-shade:#e2fdff;
    --nav:#023e8a;
    --box-shadow0:rgba(149, 157, 165, 0.2) 0px 8px 24px;
    --box-shado-whover: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    --white:#ffffff;
  }
body{
    background-color: #f7f4f4;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color:var(--nav);
    position: sticky;
    top: 0px;
    height: 80px;
    z-index: 2;
  }
  .navbar button {
    color: var(--white);
    font-size: 16px;
    font-weight: bold;
    padding: 14px 30px;
   background:none;
   border:  none;
    cursor: pointer;
    margin-left: 20px;
  }
  .navbar button:hover{
    background-color:white;
    color: #000;
    padding: 14px 30px;
    border: 0px;
    border-radius: 40px;
  }
  .navbar .profile {
    background-color: #90e0ef;
    color: #000000;
    font-size: 16px;
    font-weight: bold;
    padding: 14px 30px;
    border: 0px;
    border-radius: 40px;
    cursor: pointer;
    margin-left: 20px;
  }
.betterme {
  font-weight: 900;
  font-size: 25px;
  color:#d1d1d1 ;
  padding: 90px;
  font-family: 'Lobster Two', cursive;
}
.betterme a{
  color:#d1d1d1 ;
  


}
.logo a{
  text-decoration: none;
  
}



/* This navs */
.navs, .start{
  color: white;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1px;
  margin-left: 20px;
}

.start:hover{
  background-color: var(--shade);
  color: black;
}

.navs{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
     margin-right: 40px;
  }
  .select{  background-color: #168aad;
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 14px 30px;
    border: 0px;
    border-radius: 40px;
    margin-left: 20px;
  }
  .select a {
    color: white;
    text-decoration: none;
  }
  .navs a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 1px;
  }
  .select{  background-color: #ffffff;
    color: black;
    font-size: 16px;
    font-weight: bold;
    padding: 14px 30px;
    border: 0px;
    border-radius: 40px;
    margin-left: 20px;
  }
  .button {
    background-color: #90e0ef;
    color: #000000;
    font-size: 16px;
    font-weight: bold;
    padding: 14px 30px;
    border: 0px;
    border-radius: 40px;
    margin-left: 20px;
  }

  .REVIEW_YOUR_BOOKING{
    text-align: center;
  }
.Appointment_Details {
    background-color: #ffffff;
    padding: 5%;
    margin: 30px;
    margin-left: 300px;
    width: 350px;
    background-color: #e9ecef;
    /* height: 250px; */

}
.Appointment_Details1 {
  background-color: #ffffff;
  padding: 20px 30px;
  margin: 30px;
  width: 350px;
  height: 600px;
  display: flex;
  align-items:inherit;
  flex-direction: column;
  justify-content: space-between;
  /* height: 500px; */

}

.appoitment_review{
  display: flex;
  width: auto;
  height: auto;
  justify-content: space-between;
 padding: 0px 200px;
}
.Appointment_Details h3,.Appointment_Details1 h3{
 font-size: 30px;
 font-family: Georgia, 'Times New Roman', Times, serif;

}



.Appointment_Details input{
  width: 150px;
  height: 20px;
  padding: 10px 20px;
  margin-left: 20px;
}
.Appointment_Details1 input{
  /* width: 200px; */
  height: 20px;
  padding: 10px 20px;
  margin-left: 20px;
}

.Appointment_Details select{
  width: 195px;
  height: 40px;
  padding: 10px 20px;
  margin-left: 20px;
}
.Appointment_Details1 select{
  /* width: 195px; */
  height: 40px;
  padding: 10px 20px;
  margin-left: 20px;
}
.btn{
  padding: 10px 20px;
}